/* Estilos básicos */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: pink;
    text-align: center;
    overflow: hidden;
    position: relative;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 5vw;
    color: #ff69b4;
    text-shadow: 0 0 8px #ff69b4;
    margin-top: 20px;
}

h2 {
    font-size: 3vw;
    color: pink;
    margin-bottom: 20px;
}

.photo-container {
    position: relative;
    width: 80%;
    max-width: 300px;
}

.photo-container img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(255, 105, 180, 0.8);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.photo-container .photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Roleta de Imagens (Galeria) */
#carousel-container {
    display: none; /* Inicialmente oculta */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.carousel-images img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Animação do coração */
.heart-animation {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart {
    width: 100px;
    height: 100px;
    background-color: pink;
    clip-path: polygon(50% 0%, 100% 35%, 80% 100%, 20% 100%, 0% 35%);
    animation: heartAnimation 2s ease-in-out forwards;
}

@keyframes heartAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(3);
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-images {
        grid-template-columns: 1fr 1fr;
    }
}
